body {
    margin: 0;
    font-family: "Prompt";
}
.topnav {
    overflow: hidden;
    background-color: #3e88b9;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: #3e88b9;
}

.topnav a.active {
    background-color: white;
    color: black;
}

.topnav-right {
    float: right;
}

.dropdown {
    float: left;
    overflow: auto;
}

.dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 30px;
    background-color: #3e88b9;
    font-family: inherit;
    margin: 0;
}
.topnav-right a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #3e88b9;
    
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.footer {
    width: 100%;
    background-color: #3e88b9;
    color: white;
    text-align: center;
}


.mySlides {
    display:none; 
    margin:auto;
}

.centerSlide {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

    
    
    